body,
input,
button,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

body {
    padding-top: 78px;
    line-height: 1;
    background: #fff;
    color: #000;
}

/* headings
-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #383838;
    margin-top: 0 !important;
    line-height: 1.1;
    font-weight: bold;
}

h1 small,
h2 small,
h3 small,
h4 small,
h4 small,
h5 small,
h6 small {
    font-weight: 300;
    font-size: 100%;
}

h1 {
    color: #333;
    font-size: 38px;
    text-transform: uppercase;
}

h1 .extrasmall {
    font-size: 30px;
    display: block;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
}

h2 small {
    font-size: 20px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

p {
    color: #45484c;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    text-align: justify;
}

a {
    font-size: 29px;
}

a:active {
    outline: none;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

/*ol, ul {
    list-style: none;
}*/

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: center;
    font-weight: normal;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.delimiter-line {
    border-top: solid #83d924 6px;
}
.navbar {
    margin-bottom: 10px;
    min-height: 80px;
}

nav {
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
}

nav a {
    color: #595651;
    font-size: 18px;
    text-transform: uppercase;
}

nav a:hover,
nav a.active {
    color: #595651;
    border-color: transparent;
    background-color: transparent !important;
    /*font-weight: bold;*/
    text-decoration: underline !important;
}
.nav > li > a{
    padding-left: 12px;
    padding-right: 12px;
}
.sec1_image1 {
    padding: 25px;
}

.main-form h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    text-transform: none;
}

.main-form .title {
    position: relative;
    display: block;
    text-align: center;
    padding: 20px;

}

.main-form h3, .main-form h4 {
    color: #000;
    text-align: left;
    display: inline-block;
    position: relative;
}

.main-form h3 {
    margin-top: 40px;
    text-transform: uppercase;
    color: #fff;
}

.main-form h4 {
    margin-top: 22px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.slide {
    background-color: #ffffff;
}

.slide h2 {
    margin-bottom: 25px;
}

.slide.choose-us {
    margin: 0;
    padding: 30px 0 30px 0;
}

.choose-us {
    padding-bottom: 50px;
}

.choose-us h1, h2.gallery2 {
    line-height: 58px;
    font-size: 18px;
    color: #000000;
}

#slide-main {
    background: url(../img/head_body.png) no-repeat top center;
    background-size: cover;
    padding: 25px 0;
}

.sbercamp-head {
    font-size: 270%;
    text-transform: uppercase;
    color: #83d924;
}

.form-rounded {
    border-radius: 25px;
    padding: 25px;
}

.flask img {
    width: 80%;
    margin: 0 auto;
}

.help-block {
    font-size: 14px;
    margin: 10px 0;
}

.shedule-menu {
    text-align: center;
}

.shedule-menu ul {
    display: inline-block;
}

.shedule-menu strong {
    font-size: 24px;
}
.uchastniki-menu a strong{
    font-size: 21px !important;
}
.shedule-table table td {
    font-size: 18px;
    text-align: left;
    line-height: 1.3;
    padding: 5px 10px;
    vertical-align: top;
}

.shedule-table table td:first-child {
    width: 20%;
    color: #ffa900;
    text-align: right;
    font-weight: bold;
}

.btn-send img {
    margin-top: 10px;
}
.btn-send{
    text-align: center;
}
.btn-send input {
    margin: 10px 0;
    /*width: 100%;*/
    height: 50px;
    background-color: white;
    color: #383838;
    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;
}
.btn-send input:hover{
    background-color:#83d924;
    color: white;
}
.alert {
    margin-top: 25px;
}

.form-auth {
    margin-left: 45px;
    position: relative;
    background-color: #8ed532;
}
.form-auth:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/feedback.png) repeat top center;
    background-size: contain;
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: 1;
}
.form-auth form{
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.menu-icon {
    margin-top: 30px;
}

/*.navbar-toggle {
    margin-right: 0 !important;
}*/

.icon-bar {
    background-color: #006633 !important;
}

.uchastniki-galereya h2{
    margin-top: 50px !important;
}
/* carousel
----------------------------------------------------------------------------*/
.roundabout-holder {
    padding: 0;
    margin: 0 auto;
    height: 400px;
    width: 620px;
}

.roundabout-moveable-item {
    cursor: pointer;
    border:1px solid black;
    display:block;
}

.roundabout-moveable-item img {
    height: 100%;
    width: 100%;
}

.roundabout-in-focus {
    cursor: auto;
}

#slides-container li {
    box-shadow: 0 0 3px #333;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    background: #fff;
    border: solid 10px #fff;
    opacity: 1 !important;
}

#slides-container li.roundabout-in-focus:hover span {
    display: block;
    z-index: 1;
}

#slides-container li img {
    opacity: 0.65;
}

#slides-container li.roundabout-in-focus .video-youtube, #slides-xs .video-youtube{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 128px;
    height: 128px;
    margin-top: -64px;
    margin-left: -64px;
    background: transparent url("../img/youtube.png") no-repeat top left;
    opacity: 0.8;
}

#slides-container li.roundabout-in-focus:hover .video-youtube {
    opacity: 1;
}

#slides-container li.roundabout-in-focus{
    cursor: default;
}

#slides-container li.roundabout-in-focus img {
    opacity: 1 !important;
}
#slides-container li.roundabout-in-focus:hover img {
    opacity: .5 !important;
}
#slides-xs li{
    margin-top: 5px;
}

/* inputs
-----------------------------------------------------------------------------*/
input {
    vertical-align: middle;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=url],
textarea,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=range],
input[type=color],
select{
    border: 1px solid #666666;
    /*width: 250px;*/
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    /* WebKit browsers */
    font-family: 'Open Sans', sans-serif;
    color: rgba(63, 63, 63, 0.5);
    font-size: 16px;
}
input[type=text]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=url]::-moz-placeholder,
textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Open Sans', sans-serif;
    color: rgba(63, 63, 63, 0.5);
    font-size: 16px;
}

input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=tel]:-moz-placeholder,
input[type=url]:-moz-placeholder,
textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Open Sans', sans-serif;
    color: rgba(63, 63, 63, 0.5);
    font-size: 16px;
}

input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Open Sans', sans-serif;
    color: rgba(63, 63, 63, 0.5);
    font-size: 16px;
}

input[type=button],
input[type=reset],
input[type=submit],
button {
    -webkit-appearance: button;
    cursor: pointer;
}

input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    /*Remove button padding in FF*/
    border: 0;
    padding: 0;
}

input:focus::-webkit-input-placeholder{
    /* WebKit browsers */
    color: #383838;
}

input:focus::-moz-placeholder {
    color: #383838;
    /* Mozilla Firefox 19+ */
}

input:focus:-moz-placeholder {
    color: #383838;
    /* Mozilla Firefox 4 to 18 */
}

input:focus:-ms-input-placeholder {
    color: #383838;
    /* Internet Explorer 10+ */
}

.select-section {
    border: 1px solid #666666;
    width: 250px;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    margin: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
select.form-control,
select.form-control option{
    font-family: 'Open Sans', sans-serif;
    color: rgba(63, 63, 63, 0.5);
    font-size: 16px;
}
.foot-form {
    margin: 30px 0;
}

.foot-form p {
    color: #fff;
}
.foot-form a{
    color: white;
    font-size: 18px;
}

.foot-area {
    width: 80%;
}

#slide-footer {
    background: url(../img/head_body.png) no-repeat top center;
    background-size: cover;
}

.gallery {
    margin-bottom: 30px;
}

.slides_container .size-image {
    /*width: 570px;*/
    /*height: 270px;*/
}

/*.size-image {*/
    /*width: 250px;*/
    /*height: 150px;*/
    /*margin: 20px 0;*/
/*}*/

#bloc-8, #section4 {
    background: url(../img/patern3.png) no-repeat top center;
    background-size: cover;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

#container {
    /*width:580px;*/
    padding: 10px;
    margin: 0 auto;
}

.slides_container {
    /*width:570px;*/
    /*height:270px;*/
    overflow: hidden;
}

.sbercamp {
    float: left;
    margin-bottom: 20px;
}

.sbercamp2 {
    margin: 50px 0 20px 0;
}

.support-img {
    margin-bottom: 20px;
}

.support-img img {
    height: 90px;
    margin: 0 auto;
}

#kontakty .support-img img {
    height: 110px;
}

h1.h-reg {
    font-size: 36px;
    text-align: left;
    margin: 40px 0;
}

#kontakty h1, #section22 h1.video, #section2 h1, #section4 h1, #bloc-8 h1, #o-proekte h1,#galereya h1, #spikery h1 {
    font-size: 28px;
    text-align: center;
    margin: 20px 0;
}

#kontakty .support-img {
    margin: 20px 20px;
}

.size-image-video {
    width: 150px;
    height: 100px;
}

.shedule-list a{
    margin: 20px 5px;
    color: black;
    background-color: #0DFF00;
    height: 80px;
    width: 200px;
}

.address-p {
    color: #83d924;
    text-align: left;
    font-size: 36px;
    margin: 10px 0 60px 0;
}

.support-owner {
    padding: 15px 25px;
}

.support-company {
    padding-top: 30px;
}

.active {
    color: grey;
}

.no-active {
    color: red;
}
.grid-speaker {
    margin: 20px;
}

.speaker-name, .speaker-name p{
    margin: 20px;
    text-align: center;
}

.speaker-text, .speaker-text p{
    text-align: center;
}
.speaker-text p {
    height: 75px;
}
.speaker-text{
    margin-top: 10px;
    min-height: 50px;
}

.rounded-avatar {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: solid 10px #999;
}

.wrapper-rounded-avatar {
    position: relative;
    border-radius: 50%;
    width: 150px;
    box-shadow: 5px 5px 20px rgba(0,0,0,1);
}

.wrapper-rounded-avatar::after {
    border-radius: 0 20px 20px 0;
    width: 1px;
    height: 1px;
    border: solid 10px #999;
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -10px;
    content: '';
}

.wrapper-rounded-avatar::before {
    border-radius: 20px 0 0 20px;
    width: 1px;
    height: 1px;
    border: solid 10px #999;
    position: absolute;
    top: 50%;
    left: -10px;
    margin-top: -10px;
    content: '';
}

#shedule-tabs{
    width: auto;
}

#shedule-tabs li {
    padding-right: 10px;
    width: 240px;
}

#shedule-tabs a {
    color: #fff;
    background: #83d924;
    border-radius: 10px;
    padding: 15px 25px;
    height: 100px;
    white-space: normal;
}

#shedule-tabs a.longed {
    padding-left: 10px;
    padding-right: 10px;
}

#shedule-tabs a:hover,
#shedule-tabs a:focus,
#shedule-tabs li.active a {
    background: #ffa900;
}

/*instagram*/
.section-color-3 .rounded-avatar,
.section-color-3 .wrapper-rounded-avatar::after,
.section-color-3 .wrapper-rounded-avatar::before{
    border-color: #B0428D;
}
.color-3{
    color: #B0428D;
}
#shedule-tabs a.background-color-3,option.background-color-3{
    background: #B0428D;;
    color: white;
}
/*youtube*/
.section-color-4 .rounded-avatar,
.section-color-4 .wrapper-rounded-avatar::after,
.section-color-4 .wrapper-rounded-avatar::before{
    border-color: #DA462C;
}
.color-4{
    color: #DA462C;
}
#shedule-tabs a.background-color-4,option.background-color-4{
    background: #DA462C;
    color: white;
}
/*livejournal*/
.section-color-5 .rounded-avatar,
.section-color-5 .wrapper-rounded-avatar::after,
.section-color-5 .wrapper-rounded-avatar::before{
    border-color: #60A6D5;
}
.color-5{
    color: #60A6D5;
}
#shedule-tabs a.background-color-5,option.background-color-5{
    background: #60A6D5 ;
    color: white;
}
/*vk*/
.section-color-6 .rounded-avatar,
.section-color-6 .wrapper-rounded-avatar::after,
.section-color-6 .wrapper-rounded-avatar::before{
    border-color: #43688A;
}
.color-6{
    color: #43688A;
}
#shedule-tabs a.background-color-6,option.background-color-6{
    background: #43688A;
    color: white;
}
#shedule-tabs a.background-color-3:hover,#shedule-tabs a.background-color-4:hover,#shedule-tabs a.background-color-5:hover,#shedule-tabs a.background-color-6:hover{
    background: #ffa900;
}
#spikery, #galereya,.section-color-3,.section-color-5, #istoriya{
    background: url(../img/a3bc9cbb-3bd2-48c0-bb5e-58453f21fad5.jpg) repeat top center;
    /*background-size: contain;*/
    padding: 25px 0;
}
#map{
    height: 445px;
}
#cboxOverlay { opacity: 0.3 !important; }
/*.play-img {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    visibility: hidden;
    opacity: 0.8;
}
.rounded-avatar:hover .play-img {
    visibility:visible;
}*/

.mosaicflow__item {
    padding:3px;
}
.mosaicflow__column {
    float:left;
}
.mosaicflow__item img {
    display:block;
    width:100%;
    height:auto;
    padding: 4px;
    background-color: #fff;
}
.mosaicflow__item img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#fixed-menu {
    margin-left: -15px;
    margin-right: -15px;
}

#fixed-menu .container {
    padding-right: 0;
    padding-left: 0;
}
#fixed-menu.affix {
    position: fixed;
    left: 0;
    z-index: 1000;
    background: #fff;
    padding: 10px 0;
    margin-left: 0;
    margin-right: 0;
}

.transform-reg{
    top: 40%;
    right: 0;
    position: fixed;
    transform: rotate(90deg);
}
.absolute-position{
    position: absolute;
}
/*Стиль кнопки регистрации*/
a.button-reg {
    text-decoration: none;
    border-radius: 0 0 20px 20px;
    background: #8ed532;
    transition: 0.2s;
}
a.button-reg p {
    font-weight: 800;
    color: white;
    font-size: 20px;
    padding:10px 15px;
    width: 290px;
}
a.button-reg img {
    padding: 10px;
    width: 50px;
    height: 50px;
}

.form-rounded .control-label{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

/*Отзывы*/
.feedback-mark {
    list-style-type:none;
    margin:5px 0 10px 0;
    padding:0;
    text-align: center;
}

.feedback-mark li {
    /*float:left;*/
    display: inline-block;
    margin:0 8px 0 0;
    width:40px;
    height:40px;
    position:relative;
}

.feedback-mark label, .feedback-mark input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.feedback-mark input[type="radio"] {
    opacity:0.011;
    z-index:100;


}

.feedback-mark input[type="radio"]:checked + label {
    background: #FFA100;
    color: white;
}

.feedback-mark label {
    font-weight: normal;
    font-size: 18px;
    padding:7px 0;
    border:1px solid #CCC;
    color: #CCC;
    background-color: white;
    border-radius:50%;
    cursor:pointer;
    z-index:90;
}

.feedback-mark label:hover {
    background:#FFA100;
    color: white;
}

/*Отключаем navbar fixed для меню гамбургера*/
@media (max-width: 1200px) {
    #shedule-tabs li {
        padding-right: 5px;
        /*width: 190px;*/
    }
    #shedule-tabs a {
        padding: 8px 25px;
        height: 80px;
        margin: 5px 0;
    }
    #shedule-tabs{
        width: 490px;
    }
    #fixed-menu.affix {
        padding: 8px 0;
    }

    .shedule-menu strong {
        font-size: 16px;
    }

    .uchastniki-menu a strong {
        font-size: 16px !important;
    }

    .navbar-brand img {
        max-width: 200px;
    }

    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: 400px;
    }

    .nav > li > a {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
@media (max-width: 769px) {
    /*#shedule-tabs a {
        height: auto;
    }*/

    .navbar-nav > li > a {
        padding: 10px;
    }

    a {
        margin: 10px 0;
    }

    .navbar-brand {
        height: 50px;
    }

    .address-p {
        margin: 10px 0 10px 0;
    }
    .sbercamp-head {
        font-size: 240%;
    }

    .flask {
        margin: 20px 0;
        text-align: center;
    }


    .img-gallery {
        text-align: center;
    }

    .size-image {
        width: 300px;
        height: 200px;
    }

    .form-auth {
        margin: 45px 0;
        background-color: #8ed532;
    }
    .uchastniki .visible-sm p, .uchastniki .visible-sm a{
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    #shedule-tabs{
        width: auto;
    }
    #shedule-tabs li {
        padding-right: 10px;
        width: 48%;
    }
}

@media (max-width: 480px) {
    #shedule-tabs li {
        padding-right: 0;
        width: 100%;
    }

    #shedule-tabs a {
        padding: 3px !important;
        margin: 3px 0;
        height: auto;
    }

    #fixed-menu.affix {
        padding: 4px 0;
    }

    .shedule-menu strong {
        font-size: 14px;
    }

    .uchastniki-menu a strong{
        font-size: 14px !important;
    }
    .form-rounded .control-label{
        line-height: 26px;
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .sbercamp-head {
        font-size: 200%;
    }
    h2{
        font-size: 24px;
    }
    .feedback-mark li {
        margin: 0 8px 0 0;
    }
    .uchastniki .visible-xs p, .uchastniki .visible-xs a{
        font-size: 14px;
    }
}

/*
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow:
            inset 0 0 0 16px rgba(255,255,255,0.6),
            0 1px 2px rgba(0,0,0,0.1);

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}*/

.ch-info {
    position: absolute;
    background: rgba(142,213,50, 0.5);
/*    width: inherit;
    height: inherit;*/
    border-radius: 50%;
    opacity: 0;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    -webkit-backface-visibility: hidden;
    width: 130px;
    height: 130px;
    top: 10px;
    left: 10px;
}

.ch-info img {
  /*  width: 100px;
    height: 100px;*/
    position: absolute;
    top: 15px;
    left: 20px;
    opacity: 0.5;

    /*background: url("/assets/b684a168/img/play.png") no-repeat center;*/
/*    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 45px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow:
            0 0 1px #fff,
            0 1px 2px rgba(0,0,0,0.3);*/
}

.ch-item:hover .ch-info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
/*
.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    -webkit-transition: all 1s ease-in-out 0.4s;
    -moz-transition: all 1s ease-in-out 0.4s;
    -o-transition: all 1s ease-in-out 0.4s;
    -ms-transition: all 1s ease-in-out 0.4s;
    transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
    display: block;
    color: #fff;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans',    #shedule-tabs {
        width: auto;
    } Arial, sans-serif;
}

.ch-info p a:hover {
    color: #fff222;
    color: rgba(255,242,34, 0.8);
}
*/
/*.ch-item:hover {
    box-shadow:
            inset 0 0 0 1px rgba(255,255,255,0.1),
            0 1px 2px rgba(0,0,0,0.1);
}*/
/*

.ch-item:hover .ch-info p {
    opacity: 1;
}*/

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    /*background: #456990;*/
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #ffa900;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #83d924;
    border-radius: 25px;
    color: #fff;
}
.timeline ul li div p{
    color: #fff;
}
.timeline ul li div p a{
    color: #fff;
    font-size: 18px;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 20px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #83d924 transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #83d924;
}

time {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #83d924;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #83d924 transparent transparent;
    }
}

/* Превью на ховере*/
.gallerycontainer{
    position: relative;
    /*Add a height attribute and set to largest image's height to prevent overlaying*/
}

.thumb img{
    /*border: 1px solid white;
    margin: 0 5px 5px 0;*/
}

.thumb:hover{
    background-color: transparent;
}

.thumb:hover img{
   /*border: 1px solid blue;*/
}

.thumb span{ /*CSS for enlarged image*/
    position: absolute;
    /*background-color: lightyellow;*/
    padding: 5px;
    left: -1000px;
    /*border: 1px dashed gray;*/
    visibility: hidden;
    /*color: black;
    text-decoration: none;*/
}

.thumb span img{ /*CSS for enlarged image*/
    border-width: 0;
    padding: 2px;
}

.thumb:hover span{ /*CSS for enlarged image*/
    visibility: visible;
    top: 110px;
    left: 60px; /*position where enlarged image should offset horizontally */
    z-index: 50;
}