body,
input,
button,
select,
textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
}
body {
  background: #ffffff;
}
/* headings
-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  text-align: center;
  font-family: "Gotham Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #383838;
}
h1 small,
h2 small,
h3 small,
h4 small,
h4 small,
h5 small,
h6 small {
  font-weight: 300;
  font-size: 100%;
}
h1 {
  text-transform: uppercase;
}
h1 {
  color: #333;
  font-size: 38px;
  line-height: 55px;
  font-weight: 500;
}
h1 .extrasmall {
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  display: block;
  margin: 0 auto;
}
h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
}
h2 small {
  font-size: 20px;
}
h2 span {

}
h3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}
h4 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Gotham Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h5 {
  font-size: 14px;
  line-height: 24px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
.contain{
  overflow: auto;
  white-space:nowrap;
}

#line4 {
  background: url(../img/4.png) no-repeat top center;
  background-size: cover;
}
.line4 {
  padding: 7px 0 0 0;
  /*padding-bottom: 0px;*/
  /*margin-top: 5px;*/
}

nav {
  line-height: 15px;
  margin-top: 15px;
  vertical-align: middle;
  text-align: center;
}

nav  a:hover,
nav  a.active {
  color: #595651;
  border-color: #595651;
  text-decoration:none;
}

.sec1_image1{
  margin-top: 30px;
}

.main__form h1 {
  color:#fff;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  text-align:left;
  text-transform: none;
}

.main__form  .title {
  position: relative;
  display: block;
  text-align: center;
  padding: 20px;

}
.main__form h3, .main__form h4 {
  color:#000;
  line-height:30px;

  text-align: left;
  display: inline-block;
  position: relative;
}

.main__form h3 {
  margin-top: 40px;
  line-height:30px;
  text-transform: uppercase;
  color:#fff;
}

.main__form h4 {
  margin-top: 22px;
  font-size:20px;
  color:#fff;
  font-weight: 400;
}

#section7 {
  background-color: #ffffff;
}

.choose__us {
  padding-bottom: 50px;
}

.choose__us h1, h2.gallery2 {
  line-height: 58px;
  font-size: 18px;
  color: #000000;
}
#section7.choose__us {
  margin: 0;
  padding: 0 0 90px 0;
}
#section1 {
  background: url(../img/head_body.png) no-repeat top center;
  background-size: cover;
}

.btn-send img{
  margin-top: 10px;
}

.btn-send input{
  margin: 10px 0;
  width: 180px;
}

.form-auth{
  margin: 55px 0;
  background-color: #8ed532;
}

/* inputs
-----------------------------------------------------------------------------*/
input {
  vertical-align: middle;
}
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=url],
textarea,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=range],
input[type=color] {
  padding: 0 0 0 50px;
  border: 1px solid #666666;
  width: 250px;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
  margin:10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgba(63, 63, 63, 0.5);
  font-size: 16px;
}
input[type=text]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=url]::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgba(63, 63, 63, 0.5);
  font-size: 16px;
}
input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=tel]:-moz-placeholder,
input[type=url]:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgba(63, 63, 63, 0.5);
  font-size: 16px;
}
input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgba(63, 63, 63, 0.5);
  font-size: 16px;
}
input[type=button],
input[type=reset],
input[type=submit],
button {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  /*Remove button padding in FF*/
  border: 0;
  padding: 0;
}
input:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #383838;
}
input:focus::-moz-placeholder {
  color: #383838;
  /* Mozilla Firefox 19+ */
}
input:focus:-moz-placeholder {
  color: #383838;
  /* Mozilla Firefox 4 to 18 */
}
input:focus:-ms-input-placeholder {
  color: #383838;
  /* Internet Explorer 10+ */
}

.select-section{
  border: 1px solid #666666;
  width: 250px;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
  margin:10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.foot__form {
  margin-top: 90px;
}

.foot-text{
  margin-top: 45px;
  color: white;
}

#section00 {
  background: url(../img/head_body.png) no-repeat top center;
  background-size: cover;
}

p{
  text-align: justify;
}

.gallery{
  margin-bottom: 30px;
}

.size-image{
  width: 300px;
  height: 300px;
}
